<center><h1><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;">Sure Shots<img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"></h1></center>

<h2 style="margin:10px">Welcome <b><%= @current_user.username %></b></h2>


<div class="w3-row-padding" id="about">
    <div class="w3-col l4 12">
      <h3>About</h3>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae ornare est, ac efficitur arcu. Proin auctor luctus condimentum. Duis et purus et nunc fringilla placerat sit amet vel lorem. Proin feugiat condimentum arcu ac faucibus. Praesent ornare mauris ut erat molestie aliquet. Suspendisse id risus vulputate, rhoncus dolor ut, congue diam. Nunc dolor urna, sagittis elementum tortor non, congue pharetra arcu. Vestibulum viverra tortor vitae mollis fermentum. Proin suscipit volutpat facilisis. Sed iaculis metus et ante malesuada dapibus. Sed in risus quis erat placerat euismod. Aliquam maximus turpis interdum nisi feugiat suscipit ut et ipsum. Morbi vitae neque dolor. Mauris vel molestie tortor. Mauris non dapibus nibh, vitae elementum erat.</h6>
    <p>The #1 Place for betting on NBA games!! <i class=></i> <i class=></i> <i class=></i> <i class=></i><i class=></i></p>
    </div>
    <div class="w3-col l8 12">
      
      <img src="https://lh3.googleusercontent.com/proxy/Z7M9bjvZaEpF8OcTVN24BOm3Js7zPuxEHrn4Qp4hISrwFNWmDwXcXzDykpojAMpDq7s9LC-DdsOgErf714gt3hMJHFiHvpbj_Yl0j8zLQLf9s10L4CwWfgguQ3udoElyqxovM3J1LwzU" style="width:47%;">
    </div>
  </div>
</div>