
    <h1> <%= @game.name %></h1>
    <h1> All Bets </h1>

    
    
    <% if logged_in? %>
    <%= link_to "Place a New Bet!", new_game_bet_path %>
    <% @game.bets.each do |g| %>
        <li><%= g.amount - g.date %></li>
    <% end %> 
    <% end %>


<%= render partial: "bet", collection: @bets %> 



 
