<% if current_user %> 
    <% user.bets.each do |bet| %>
        <p><b><%= bet.game.name %></b>- $<%= bet.amount %> - <%= bet.winner %></p> 
    <% end %> 
<% else %> 
    <% redirect_to root_path %>
<% end %> 