<center><h1><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"> All the Users of Sure Shots <img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"></h1></center>

<% @users.each do |user| %>
    <p>
    <%= user.username %>
    </p>
<% end %>