<center><h1><img src="https://www.launchpads.com.au/assets/css/icons/animated/diamond/animat-diamond.gif" style="width:100px;height:90px;"> All the Users of Sure Shots <img src="https://www.launchpads.com.au/assets/css/icons/animated/diamond/animat-diamond.gif" style="width:100px;height:90px;"></h1></center>

<% @users.each do |user| %>
    <p>
    <%= user.username %>
    </p>
<% end %>