<body>
<div class="w3-container w3-sand w3-round w3-card">
<center><h1><img src="https://www.launchpads.com.au/assets/css/icons/animated/diamond/animat-diamond.gif" style="width:100px;height:90px;">Welcome to Your Bet History <%= @user.username %> <img src="https://www.launchpads.com.au/assets/css/icons/animated/diamond/animat-diamond.gif" style="width:100px;height:90px;"></h1></center>
</div>
<br><br> 
<br><br>
<div class="w3-row-padding w3-padding-16 ">
    <div class="w3-third w3-margin-bottom">
    </div>
    <div class="w3-third w3-margin-bottom">
      <div class="w3-container w3-black w3-round w3-card">
        <center><h3>All Your Bets So Far...</h3></center>
        <h6 class="w3-opacity">
        <% if @user %>
          <h4><%= render partial: "user", locals: {user: current_user} %></h4>
        <% else %> 
          <center><h3>This User's Page is Private or Does not Exist</h3>
          <p><%= link_to "Return to Homepage", root_path  %></i></p>
        <% end %>
        <button class="w3-button w3-block w3-green w3-margin-bottom w3-round w3-card"><%= link_to "Return to Homepage", root_path  %></button>
      </div>
    </div>
  </div>
</div>
</body>
<style>
body {
  background-image: url('https://i.pinimg.com/originals/dc/be/37/dcbe3700061927a7489bc184546f57bb.png');
  background-attachment: fixed;
   background-position: center; 
}
</style>