<p><img src= "<%= game.home_img %>" style="width:125px;height:100px;"><br><br><%= game.home %></p>
<br>
<p> <img src= "<%= game.visitor_img %>" style="width:125px;height:100px;"><br><br> <%= game.visitor %></p>

