<div class="w3-container">
    <center><h3>Betting Odds</h3></center>
    <h4><b>Home:  <%= game.home %></b></h4>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:25%">25%</div>
    </div>
<center><p><img src= "<%= game.home_img %>" style="width:70px;height:60px;"><br><br></p></center>

<h4><b>Away:  <%= game.visitor %></b></h4>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:50%">50%</div>
    </div>
</div>
<center><p><img src= "<%= game.visitor_img %>" style="width:70px;height:60px;"><br><br></p></center>


    