<center><h1><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;">All Current Games<img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"></h1></center>
<br><br> 
<br><br> 
<br><br>
<center><header class="w3-display-container w3-content" style="max-width:1200px;"></center>
    <center><div class="w3-display-left w3-padding w3-col l6 m8"></center>
        <div class="w3-display-left w3-padding w3-col l6 m8">
            <div class="w3-container w3-green">
                <center><h2><i class=>Click on a Game to Place a Bet</i></h2></center>
            </div>
            <div class="w3-container w3-white w3-padding-16">
            <% @games.each do |g| %>
                <li><%= link_to g.name, game_path(g) %></li>
            <% end %> 
                <br></br>
            <%= link_to "Return to Homepage", root_path  %>
            </div>
        </div>
    </div>
</header>





