<center><h1><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;">Games for <%= Date.today.strftime('%m-%d-%y') %><img src="https://freepngimg.com/thumb/diamond/28497-6-diamond-logo.png" style="width:50px;height:60px;"></h1></center>
<br><br> 
<br><br> 
<div class="w3-row-padding w3-padding-16 ">
    <div class="w3-third w3-margin-bottom">
      <center><img src="https://lh3.googleusercontent.com/proxy/wuiEFd0MPLs-BmWf0RYx7GMUmjYhEom-MZKBQiNlzcHRTewN6H8Tb-wrVhY1dD-U1cG6OWgvalweBWk2574skWjAJhuV6UUqieRjeS2QZOJEnA2ZsexL" style="width:80%"></center>
    </div>
    <div class="w3-third w3-margin-bottom">
      
      <div class="w3-container w3-black w3-round w3-card">
        <center><h3>Select a Game to Continue</h3></center>
        <h6 class="w3-opacity">
        <% @games.each do |g| %>
          <center><p><%= link_to g.name, game_path(g) %></p></center>
        <% end %></h6>
        <p></p>
        <button class="w3-button w3-block w3-green w3-margin-bottom w3-round w3-card"><%= link_to "Return to Homepage", root_path  %></button>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
    <center><img src="https://lh3.googleusercontent.com/proxy/wuiEFd0MPLs-BmWf0RYx7GMUmjYhEom-MZKBQiNlzcHRTewN6H8Tb-wrVhY1dD-U1cG6OWgvalweBWk2574skWjAJhuV6UUqieRjeS2QZOJEnA2ZsexL" style="width:80%"></center>
    </div>
    </div>
  </div>
</div>



